.*
!.coveragerc
!.env
!.pylintrc

# elastic beanstalk deploy
Dockerrun.aws.json

# celery files
celerybeat-schedule
celerybeat.pid

# terraform files
terraform/

# ansible files
ansible/

# docker files
docker_compose_local.yml
docker_compose_production.yml

# ignore temp packaged Dockerrun.aws.json
latest.zip
