# Python template

# Byte-compiled / optimized / DLL files
# ----------------------------------------------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# idea/ pycharm
# ----------------------------------------------------------------------------------------------------------------------
.idea

# Installer logs
# ----------------------------------------------------------------------------------------------------------------------
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
# ----------------------------------------------------------------------------------------------------------------------
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
# ----------------------------------------------------------------------------------------------------------------------
*.mo
*.pot

# Django stuff
# ----------------------------------------------------------------------------------------------------------------------
staticfiles/

# celery beat schedule file
# ----------------------------------------------------------------------------------------------------------------------
celerybeat-schedule

# Environments
# ----------------------------------------------------------------------------------------------------------------------
.env

# Logs
# ----------------------------------------------------------------------------------------------------------------------
*.log

# Runtime data
# ----------------------------------------------------------------------------------------------------------------------
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
# ----------------------------------------------------------------------------------------------------------------------
coverage

# Bower dependency directory (https://bower.io/)
# ----------------------------------------------------------------------------------------------------------------------
bower_components/

# Dependency directories
# ----------------------------------------------------------------------------------------------------------------------
node_modules/

# Typescript v1 declaration files
# ----------------------------------------------------------------------------------------------------------------------
typings/

# Optional npm cache directory
# ----------------------------------------------------------------------------------------------------------------------
.npm

# Optional eslint cache
# ----------------------------------------------------------------------------------------------------------------------
.eslintcache

# Optional REPL history
# ----------------------------------------------------------------------------------------------------------------------
.node_repl_history

# Yarn Integrity file
# ----------------------------------------------------------------------------------------------------------------------
.yarn-integrity

# Linux template
# ----------------------------------------------------------------------------------------------------------------------
*~

# Terraform
# ----------------------------------------------------------------------------------------------------------------------
.terraform
.terraform.tfstate.lock.info

# Seedorf Application
# ----------------------------------------------------------------------------------------------------------------------
seedorf/media/

# Added to maintain local compose files which are ignored by something above.
# See issue https://github.com/pydanny/cookiecutter-django/issues/1321
# ----------------------------------------------------------------------------------------------------------------------
!/compose/local/

# Elastic Beanstalk Files
# ----------------------------------------------------------------------------------------------------------------------
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Dockerrun.aws.json
# ----------------------------------------------------------------------------------------------------------------------
latest.zip

# temporary deployment script
# ----------------------------------------------------------------------------------------------------------------------
deploy.sh

# pytest
# ----------------------------------------------------------------------------------------------------------------------
.pytest_cache/

# ansible
# ----------------------------------------------------------------------------------------------------------------------
*.retry
.ansible

# celery
# ----------------------------------------------------------------------------------------------------------------------
beat.db
