* text=auto

# terraform
*.tf filter=git-crypt diff=git-crypt merge=git-crypt
*.tfstate filter=git-crypt diff=git-crypt merge=git-crypt
*.tfstate.backup filter=git-crypt diff=git-crypt merge=git-crypt

# elasticbeanstalk variables
Dockerrun.aws.json filter=git-crypt diff=git-crypt merge=git-crypt

# public and private keys for ansible, terraform etc
*.key filter=git-crypt diff=git-crypt merge=git-crypt
*.pub filter=git-crypt diff=git-crypt merge=git-crypt
.env* filter=git-crypt diff=git-crypt merge=git-crypt
.env.tst text=auto

# ansible
vault.yml filter=git-crypt diff=git-crypt merge=git-crypt
