[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# REF: https://github.com/flavors/django-graphql-geojson/issues/1
graphene-django = { git = "https://github.com/graphql-python/graphene-django.git@master" }
"argon2-cffi" = { version = "==16.3.0" }
"boto3" = { version = "==1.6.11" }
"psycopg2" = { version = "==2.7.3.1" }
awesome-slugify = { version = "==1.6.5" }
celery = { version = "==4.1.0" }
coreapi = { version = "==2.3.3" }
django = { version = "==1.11.12" }
django-allauth = { version = "==0.33.0" }
django-anymail = { version = "==2.0" }
django-cities = { version = "==0.5.0.5" }
django-compressor = { version = "==2.2" }
django-crispy-forms = { version = "==1.7.2" }
django-elasticsearch-dsl = { version = "==0.4.0" }
django-environ = { version = "==0.4.4" }
django-extensions = { version = "==2.0.6" }
django-filter = { version = "==2.0.0.dev1" }
django-guardian = { version = "==1.4.9" }
django-haystack = { version = "==2.8.1" }
django-redis = { version = "==4.9.0" }
django-rest-auth = { version = "==0.9.2" }
django-rest-elasticsearch = { version = "==0.3.2" }
django-rest-swagger = { version = "==2.1.2" }
django-storages = { version = "==1.6.5" }
djangorestframework = { version = "==3.8.0" }
djangorestframework-jwt = { version = "==1.11.0" }
drf-extensions = { version = "==0.3.1" }
elasticsearch-dsl = { version = "==5.3.0" }
gevent = { version = "==1.2.2" }
django-graphql-geojson = { version = "==0.1.2" }
gunicorn = { version = "==19.7.1" }
hashids = { version = "==1.2.0" }
markdown = { version = "==2.6.11" }
nece = { version = "==0.7.5" }
pillow = { version = "==4.3.0" }
pygments = { version = "==2.2.0" }
pytz = { version = "==2017.2" }
raven = { version = "==6.6.0" }
rcssmin = { version = "==1.0.6" }
redis = { version = "==2.10.6" }
rules = { version = "==1.3" }
wheel = { version = "==0.30.0" }
whitenoise = { version = "==4.0.b4" }
zappa = { version = "==0.45.1" }
apistar = { version = "==0.4.0" }
jsonschema = { version = "==2.6.0" }
cerberus = { version = "==1.2" }
drf-writable-nested = { version = "==0.4.2" }
drf-nested-routers = { version = "==0.90.2" }
django-timezone-field = { version = "==2.1" }
django-countries = { version = "==5.3" }
django-cors-headers = { version = "==2.2.0" }
drf-yasg = {extras = ["validation"]}
structlog = "*"
colorama = "*"
python-json-logger = "*"

[dev-packages]
coreapi-cli = "*"
django-coverage-plugin = { version = "==1.5.1a0" }
django-debug-toolbar = { version = "==1.9.1" }
django-test-plus = { version = "==1.0.22" }
factory-boy = { version = "==2.9.2" }
"flake8" = { version = "*" }
pytest-django = { version = "==3.1.2" }
coverage = { version = "==4.5.1" }
ipdb = { version = "*" }
sphinx = { version = "==1.7.1" }
awsebcli = "*"
awscli = "*"
ansible = "*"
# NOTE: Disable pytest-sugar till the following issues are fixed
# REF: https://github.com/pydanny/cookiecutter-django/pull/1472
# REF: https://github.com/pytest-dev/pytest/issues/3170
# pytest-sugar = { version = "==0.9.0" }

[requires]
python_version = "3.6.4"

[pipenv]
"allow_prereleases" = true
