{% extends "base_website.html" %}
{% load i18n static seedorf %}

{% block layout_content %}
  <div class="landing-block pb-5">
    <div class="container px-3">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col">
          <div class="card mb-4">

            <div class="card-header border-0">
              <div class="display-4">
                {% if game.name %}
                  {{ game.name }}
                {% else %}
                  {% blocktrans with sport=game.sport.get_category_display %}
                    {{ sport }} game
                  {% endblocktrans %}
                {% endif %}
              </div>
            </div>

            <div id="spotImagesCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                {% for image in game.spot.images.all %}
                  <li data-target="#spotImagesCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                {% empty %}
                  <li data-target="#spotImagesCarousel" data-slide-to="0"></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% for image in game.spot.images.all %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{ image.image.url|imgix_url }}?fit=fill&fill=blur&w=900&h=900" />
                  </div>
                {% empty %}
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="https://source.unsplash.com/1600x900/?{{ game.sport.get_category_display }}">
                  </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#spotImagesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#spotImagesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <div class="card-body border-top border-bottom text-center p-0">
              <div class="row no-gutters row-bordered row-border-light">
                <div class="d-flex col-md-3 flex-column text-dark py-3">
                  <div class="display-4 text-secondary mx-auto mb-3">
                    <span class="lnr lnr-star"></span>
                  </div>
                  <div class="font-weight-bold">{{ game.sport.get_category_display }}</div>
                  <div class="text-muted small">{% trans "Sport" %}</div>
                </div>
                <div class="d-flex col-md-3 flex-column text-dark py-3">
                  <div class="display-4 text-secondary mx-auto mb-3">
                    <span class="lnr lnr-map-marker"></span>
                  </div>
                  <div class="font-weight-bold">{{ game.spot.address.formatted_address }}</div>
                  <div class="text-muted small">{% trans "Address" %}</div>
                </div>
                <div class="d-flex col-md-3 flex-column text-dark py-3">
                  <div class="display-4 text-secondary mx-auto mb-3">
                    <span class="lnr lnr-calendar-full"></span>
                  </div>
                  <div class="font-weight-bold">{{ game.start_time | date:"D d M Y" }}</div>
                  <div class="text-muted small">{% trans "Day" %}</div>
                </div>
                <div class="d-flex col-md-3 flex-column text-dark py-3">
                  <div class="display-4 text-secondary mx-auto mb-3">
                    <span class="lnr lnr-clock"></span>
                  </div>
                  <div class="font-weight-bold">{{ game.start_time | date:"H:s" }} - {{ game.end_time | time:"H:s" }}</div>
                  <div class="text-muted small">{% trans "Time" %}</div>
                </div>
              </div>
            </div>

            <!-- https://*.sportyspots.com/* -->
            <a href="https://www.google.com/maps/dir/{{ game.spot.address.lat }},{{ game.spot.address.lng }}">
              <img class="card-img" src="https://maps.googleapis.com/maps/api/staticmap?center={{ game.spot.address.lat }},{{ game.spot.address.lng }}&zoom=13&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:o%7C{{ game.spot.address.lat }},{{ game.spot.address.lng }}&key=AIzaSyC99uVW_9nOJ32T7BY3Yeqt0iMWqOrGuAQ">
            </a>

            <div class="card-body">
              <div class="display-4 mb-2">{% trans "Organizer" %}</div>
              <div class="media">
                {% if game.organizer.profile.avatar %}
                  <img src="{{ game.organizer.profile.avatar.url|imgix_url }}?crop=faces&fit=crop&h=320&w=320" alt="" class="ui-w-60 rounded-circle">
                {% else %}
                  <img src="https://via.placeholder.com/150/005537/FFFFFF?text={{ game.organizer.initials }}" alt="" class="ui-w-60 rounded-circle">
                {% endif %}
                <div class="media-body pt-3 ml-3">
                  <h4 class="mb-0">{{ game.organizer.name | default:"Sporty" }}</h4>
                  <div class="text-muted small">{% trans "member since" %}: {{ game.organizer.created_at|timesince }}</div>
                </div>
              </div>
            </div>

            <div class="card-body py-3">
              <div class="display-4 mb-2">{% trans "Attending" %}</div>
              <div class="d-flex flex-wrap">
                <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="{% static 'images/avatars/2-small.png' %}" alt="" class="ui-w-30 rounded-circle"></a>
                <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="{% static 'images/avatars/3-small.png' %}" alt="" class="ui-w-30 rounded-circle"></a>
                <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="{% static 'images/avatars/4-small.png' %}" alt="" class="ui-w-30 rounded-circle"></a>
                <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="{% static 'images/avatars/5-small.png' %}" alt="" class="ui-w-30 rounded-circle"></a>
                <a href="javascript:void(0)" class="d-block mr-1 mb-1"><img src="{% static 'images/avatars/6-small.png' %}" alt="" class="ui-w-30 rounded-circle"></a>
              </div>
            </div>

            <!--
            <div class="card-body">

              <div class="media mb-3">
                <div class="ion ion-md-information-circle ui-w-30 text-center text-lighter mt-1"></div>
                <div class="media-body ml-2">
                  Lorem ipsum dolor sit amet, nibh suavitate qualisque ut nam.
                  Ad harum primis electram duo, porro principes ei has.
                </div>
              </div>

              <div class="media">
                <div class="ion ion-md-globe ui-w-30 text-center text-lighter mt-1"></div>
                <a href="#" class="media-body d-block ml-2">website.com/about</a>
              </div>

            </div>
            -->
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
{% endblock layout_content %}
