{% extends "base.html" %}
{% load static i18n wagtailcore_tags %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'libs/swiper/swiper.css' %}">
  <link rel="stylesheet" href="{% static 'libs/plyr/plyr.css' %}">
{% endblock custom_css %}

{% block layout_wrapper %}
  <!-- Navbar -->
  {% block layout_navbar %}
  <nav class="landing-navbar navbar navbar-expand-lg navbar-light fixed-top pt-lg-4">
    <div class="container-fluid px-3">
      <a class="navbar-brand app-brand"
         href="/">
        <img src="{% static 'images/sportyspots-logo.png' %}" class="app-brand-logo ui-w-140">
      </a>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#landing-navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"
           id="landing-navbar-collapse">
        <div class="navbar-nav align-items-lg-center ml-auto">
          <!--
          <a class="anchor-link nav-item nav-link" href="#features">Activities</a>
          <a class="anchor-link nav-item nav-link" href="#screenshots">Features</a>
          <a class="anchor-link nav-item nav-link" href="#pricing">About</a>
          <a class="anchor-link nav-item nav-link" href="#subscribe">Subscribe</a>
          -->
          <div class="nav-item py-3 py-lg-0 ml-lg-4">
            <a href="#app-stores" class="anchor-link btn btn-primary btn-round text-expanded">
              <small>DOWNLOAD</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% endblock layout_navbar %}
  <!-- / Navbar -->

  {% block layout_content %}
  {% endblock layout_content %}

  <!-- Footer -->
  {% block layout_footer %}
  <nav class="footer bg-white pt-4">
    <div class="container text-center py-4">
      <div class="row">
        <div class="col">
          <img src="{% static 'images/sportyspots-logo.png' %}"
               class="rounded mx-auto d-block app-brand-logo ui-w-140">
        </div>
      </div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-6 col-sm pb-4">
          <div class="footer-text font-weight-bold mb-3">ABOUT US</div>
          <a href="#" class="footer-link d-block pb-2">About</a>
          <a href="#" class="footer-link d-block pb-2">Our Story</a>
          <a href="#" class="footer-link d-block pb-2">Careers</a>
        </div>
        <div class="col-6 col-sm pb-4">
          <div class="footer-text font-weight-bold mb-3">SUPPORT</div>
          <a href="#" class="footer-link d-block pb-2">FAQ</a>
          <a href="#" class="footer-link d-block pb-2">Support</a>
        </div>
        <div class="col-6 col-sm pb-4">
          <div class="footer-text font-weight-bold mb-3">PARTNERS</div>
          <a href="#" class="footer-link d-block pb-2">Geemente Amsterdam</a>
        </div>
        <div class="col-6 col-sm pb-4">
          <div class="footer-text font-weight-bold mb-3">CONNECT</div>
          <a href="https://twitter.com/sportyspotshq" class="footer-link d-block pb-2">
            <i class="ion ion-logo-twitter text-twitter"></i> &nbsp;Twitter</a>
          <a href="https://www.facebook.com/sportyspotshq/" class="footer-link d-block pb-2">
            <i class="ion ion-logo-facebook text-facebook"></i> &nbsp;Facebook</a>
          <a href="#" class="footer-link d-block pb-2">
            <i class="ion ion-logo-instagram text-instagram"></i> &nbsp;Instagram</a>
        </div>
      </div>
    </div>
  </nav>
  {% endblock layout_footer %}
  <!-- / Footer -->
{% endblock layout_wrapper %}

{% block custom_js %}
  <script src="{% static 'libs/swiper/swiper.js' %}"></script>
  <script src="{% static 'libs/plyr/plyr.js' %}"></script>
  <script src="{% static 'js/landing.js' %}"></script>
{% endblock custom_js %}
