{% load static wagtailcore_tags i18n %}
<div class="landing-block pb-5 {{ value.background }}">
  <div class="container px-3">
    <div id="subscribe">
        <div class="row align-items-center">
          <div class="font-secondary col-md-5 col-lg-4 text-xlarge font-weight-light">
            Join Our Newsletter
          </div>

          <div class="col-md-7 col-lg-8 mt-3 mt-md-0">
            <div class="input-group">
              <input type="email" class="form-control form-control-inverted form-control-lg bg-lighter border-0 px-3"
                     placeholder="E-mail">
              <span class="input-group-append">
                <button type="submit" class="btn btn-primary btn-lg">Get Started</button>
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
