{% load static wagtailcore_tags i18n %}

<div class="swiper-container swiper-container-horizontal swiper-container-autoheight"
     id="landing-slider-parallax">
  <!-- Parallax background element -->
  <div class="landing-slider-parallax-bg"
       style="background-image: url({% static 'images/sportyspots-background.svg' %}); transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;"
       data-swiper-parallax="-23%">
  </div>
  <div class="swiper-wrapper"
       style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

    <!-- Slide 1 -->
    <div class="swiper-slide jumbotron ui-hero ui-mh-100vh bg-transparent overflow-hidden swiper-slide-active">
      <div class="container-fluid justify-content-center px-lg-5">
        <div class="row justify-content-center w-100 pt-3">

          <div class="col-lg-7 col-xl-6 text-lg-left text-center my-5"
               data-swiper-parallax="-50%"
               style="transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;">
            <h1 class="display-3 text-white mb-4">
              Ontdek nieuwe sportplekken
            </h1>
            <p class="lead text-white pb-3">
              Krijg toegang tot een compleet overzicht van alle sportplekken bij jou in de buurt
            </p>
            <div class="mt-2">
              <a href="#app-stores"
                      class="landing-btn btn btn-lg btn-round btn-primary">
                Join SportySpots
              </a>
            </div>
          </div>

          <div class="col-lg-5 text-center pl-lg-5"
               data-swiper-parallax="100%"
               data-swiper-parallax-opacity="0"
               style="opacity: 1; transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;">
                <img src="{% static 'images/sportyspots-search.png' %}"
                     class="w-50 mx-auto d-block">
          </div>

        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="swiper-slide jumbotron ui-hero ui-mh-100vh bg-transparent overflow-hidden swiper-slide-active">
      <div class="container-fluid justify-content-center px-lg-5">
        <div class="row justify-content-center w-100 pt-3">

          <div class="col-lg-7 col-xl-6 text-lg-left text-center my-5"
               data-swiper-parallax="-50%"
               style="transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;">
            <h1 class="display-3 text-white mb-4">
              Organiseer een potje sport
            </h1>
            <p class="lead text-white pb-3">
              Organiseer een potje sport met vrienden of andere sporters
            </p>
            <div class="mt-2">
              <a href="#app-stores"
                      class="landing-btn btn btn-lg btn-round btn-primary">
                Join SportySpots
              </a>
            </div>
          </div>

          <div class="col-lg-5 text-center pl-lg-5"
               data-swiper-parallax="100%"
               data-swiper-parallax-opacity="0"
               style="opacity: 1; transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;">
                <img src="{% static 'images/sportyspots-organize-a-game.png' %}"
                     class="w-50 mx-auto d-block">
          </div>

        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="swiper-slide jumbotron ui-hero ui-mh-100vh bg-transparent overflow-hidden swiper-slide-active">
      <div class="container-fluid justify-content-center px-lg-5">
        <div class="row justify-content-center w-100 pt-3">

          <div class="col-lg-7 col-xl-6 text-lg-left text-center my-5"
               data-swiper-parallax="-50%"
               style="transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;">
            <h1 class="display-3 text-white mb-4">
              Doe mee met sport events
            </h1>
            <p class="lead text-white pb-3">
              Doe laagdrempelig mee met verschillende type sport events
            </p>
            <div class="mt-2">
              <a href="#app-stores"
                      class="landing-btn btn btn-lg btn-round btn-primary">
                Join SportySpots
              </a>
            </div>
          </div>

          <div class="col-lg-5 text-center pl-lg-5"
               data-swiper-parallax="100%"
               data-swiper-parallax-opacity="0"
               style="opacity: 1; transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;">
                <img src="{% static 'images/sportyspots-join-a-game.png' %}"
                     class="w-50 mx-auto d-block">
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="swiper-pagination"></div>
  <div id="landing-slider-next" class="swiper-button-next custom-icon" tabindex="0" role="button"
       aria-label="Next slide" aria-disabled="false">
    <i class="lnr lnr-chevron-right text-primary"></i>
  </div>
  <div id="landing-slider-prev" class="swiper-button-prev custom-icon swiper-button-disabled" tabindex="0" role="button"
       aria-label="Previous slide" aria-disabled="true">
    <i class="lnr lnr-chevron-left text-primary"></i>
  </div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>
