{% load static wagtailcore_tags i18n %}

<div class="landing-block pb-5 {{ value.background }}">
  <div class="overflow-hidden">
    <div class="container">
      <h1 class="display-4 text-center">
        <span class="align-middle">Advantage SportySpots</span>
      </h1>
      <div class="lead text-muted mt-4 mb-5">
        Discover more, Play more, Connect More.
      </div>

      <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <div class="flex-shrink-1 order-1 w-100 text-center text-lg-right">

          <div class="display-4 mb-2"><i class="lnr lnr-map"></i></div>
          <h5 class="mb-2">Discover Spots</h5>
          <div class="ui-company-text text-muted">
            Find spots that, you never knew existed in your neighbourhood.
          </div>

          <div class="display-4 mt-5 mb-2"><i class="lnr lnr-thumbs-up"></i></div>
          <h5 class="mb-2">Join Games</h5>
          <div class="ui-company-text text-muted">
            Participate in games organized around you.
          </div>

          <div class="display-4 mt-5 mb-2"><i class="lnr lnr-link"></i></div>
          <h5 class="mb-2">Build Connections</h5>
          <div class="ui-company-text text-muted">
            Connect with sport loving people.
          </div>
        </div>

        <div class="ui-device iphone order-3 order-lg-2 flex-shrink-0 mw-100 mx-lg-5 mt-5 mt-lg-0"
             style="width: 230px;">
          <img class="device-img" src="{% static 'images/sportyspots-plan-a-game.png' %}" alt>
        </div>

        <div class="flex-shrink-1 order-2 order-lg-3 w-100 text-lg-left text-center mt-5 mt-lg-0">
          <div class="display-4 mb-2"><i class="lnr lnr-calendar-full"></i></div>
          <h5 class="mb-2">Organize Games</h5>
          <div class="ui-company-text text-muted">
            Create open or private games.
          </div>

          <div class="display-4 mt-5 mb-2"><i class="lnr lnr-heart-pulse"></i></div>
          <h5 class="mb-2">Get Fit</h5>
          <div class="ui-company-text text-muted">
            Play more, Exercise more, Live more.
          </div>

          <div class="display-4 mt-5 mb-2"><i class="lnr lnr-smile"></i></div>
          <h5 class="mb-2">Have Fun</h5>
          <div class="ui-company-text text-muted">
            Sports is fun.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
