{% load static wagtailcore_tags i18n %}

<div class="landing-block pb-5 {{ value.background }}">
  <div class="container px-3">

    <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
      <h1 class="display-4 text-center">
        <span class="align-middle">Get SportySpots for Free</span>
      </h1>
      <div class="lead text-muted mt-4 mb-5">
        Download the SportySpots app to start discovering and playing today.
      </div>

      <a href="https://itunes.apple.com/nl/app/sportyspots/id1391625376"
         class="btn btn-lg btn-dark text-transform-none text-left m-3">
        <span class="media align-items-center">
          <span class="ion ion-logo-apple d-block" style="font-size: 40px"></span>
          <span class="media-body d-block flex-basis-auto ml-3">
            <small class="font-weight-light">Download on the</small><br>
            <strong class="text-big line-height-1">AppStore</strong>
          </span>
        </span>
      </a>

      <a href="https://play.google.com/store/apps/details?id=com.sportyspots.android"
         class="btn btn-lg btn-dark text-transform-none text-left m-3">
        <span class="media align-items-center">
          <img width="25" class="d-block"
               src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAoCAYAAABw65OnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWJJREFUeNrE2OENgjAQBWB0AkZwBEZwBDfRDWQD3UA30A10BJ1ANmidoF4Tm5Cmvd7Vu9rkxQj8+AI8KO2ccx1kgEyQ7fd/0wRA+LWQ22xbM4RJQPzYt0Q4BPKCrFshMIgfB0jfAlGC+H2bFogSxI8LZKWNoECMZJ1zCArESdUZQ1Ahoc69FoIDqa4zBcGB+HHinhUqggth1ZmD4ELCjbuSRnAhltKeGgQVYqNjsnWuRZQgMcBgdf4FkYNggGSdf0WkICWAi97OIogYQgWEMSw7mbEgbksPgbNgkctReo4cJS5H6iak1HeSujGxFmCQUaqilBrGkLvkw8oyamgoj21uO96QNeQBGSA3SI8c/4RYyXZwzoDVeJVzAGeNSQ0VMGlN76iAUWu2TQHcNaf8JYDfv9P8+CkBrtqfgRiAVbtaBAY4tlgayAGqa8dF5ACj+9PCmZGqHRcxX0LcuT8sIX4EGACCwMmlMqgohQAAAABJRU5ErkJggg==">
          <span class="media-body d-block flex-basis-auto ml-3">
            <small class="font-weight-light">GET IT ON</small><br>
            <strong class="text-big line-height-1">Google Play</strong>
          </span>
        </span>
      </a>
    </div>

  </div>
</div>
