{% load static wagtailcore_tags i18n %}

<div class="landing-block pb-5 {{ value.background }}">
  <div class="container px-3">

    <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
      <div class="display-3 text-primary mb-4">
        <i class="lnr lnr-rocket"></i>
      </div>
      <h1 class="display-4 font-secondary font-weight-semibold mb-5">
        Ultimate Tool for Professionals
      </h1>
      <div class="text-muted">
        Lorem ipsum dolor sit amet, ad eam consul vituperata. Cum assum inimicus an, his ne liber aeterno debitis. Te
        his iudico tollit efficiendi. Eu harum volumus pri, oporteat probatus disputationi id his. Mei in vidit mollis
        mediocrem, cum ad suas democritum,
        ea eos e ligendi nominati volutpat.
      </div>
    </div>

  </div>
</div>
