{% load static wagtailcore_tags i18n %}

<div class="landing-block pb-5 {{ value.background }}">
  <div class="container px-3">
    <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
      <h1 class="display-4">
        The Press Loves SportySpots
      </h1>
      <div class="lead pb-3 mt-4 mb-5">
        Lorem ipsum dolor sit amet, ad eam consul vituperata. Cum assum inimicus an, his ne liber aeterno debitis. Te
        his iudico tollit efficiendi.
      </div>
    </div>
    <div class="row row-bordered row-border-light">
      <div class="col-4 col-md-4 col-lg-4">
        <a href="https://startupinresidence.com/amsterdam/news/sportyspots/">
        <img src="{% static 'images/press_xxxstartupinresidence.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
          </a>
      </div>
      <div class="col-4 col-md-4 col-lg-4">
        <a href="https://www.parool.nl/amsterdam/deze-13-startups-gaan-aan-de-slag-met-amsterdamse-problemen~a4534367/">
        <img src="{% static 'images/press_het_parool_logo.jpg' %}" class="img-fluid hoverable ui-img-grayscale" alt>
        </a>
      </div>
      <div class="col-4 col-md-4 col-lg-4">
        <a href="https://www.startupdelta.org/press/startup-residence-amsterdam-announces-13-startups-will-part-third-sir-programme/">
        <img src="{% static 'images/press_startup_delta_logo.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
        </a>
      </div>
    </div>
  </div>
</div>
