{% load static wagtailcore_tags i18n %}
<div class="landing-block pb-5 {{ value.background }}">
  <div class="container px-3">
    <div class="row row-bordered text-center">

      <div class="col-md-4 line-height-1 py-3">
        <h3 class="font-weight-semibold mb-1">356,566</h3>
        <small class="text-light text-tiny">DOWNLOADS</small>
      </div>

      <div class="col-md-4 line-height-1 py-3">
        <h3 class="font-weight-semibold mb-1">221,332</h3>
        <small class="text-light text-tiny">USERS</small>
      </div>

      <div class="col-md-4 line-height-1 py-3">
        <h3 class="font-weight-semibold mb-1">4.8</h3>
        <small class="text-light text-tiny">STARS</small>
      </div>

    </div>
  </div>
</div>
