{% load static wagtailcore_tags i18n %}

<div class="landing-block pt-5 {{ value.background }}">
  <div class="container px-3">
    <div class="row justify-content-between align-items-center">
      <h1 class="display-4 text-center">
        <span class="align-middle">Our Vision</span>
      </h1>
      <div class="lead text-muted mt-4 mb-5">
        We believe that sports is a universal language that unites people and everybody should be able to play a game of sports.
      </div>

      <div class="col-lg-5 col-xl-4 text-lg-left text-center mx-auto">
        <div class="text-lighter font-weight-bold mb-3">Health Impact, Soceital Impact</div>
        <h1 class="display-4 mb-4">Play More</h1>
        <p class="text-muted">
          How do we plan to make a difference and elevate the power and impact of sports.
        </p>
      </div>

      <div class="col-lg-7 col-xl-7 mt-5 mt-lg-0">
        <div data-plyr-provider="youtube"
             data-plyr-embed-id="5ydkSgHlKWQ"
             class="plyr-video w-100"></div>
      </div>

    </div>
  </div>
</div>
