{% load static wagtailcore_tags i18n %}

<div class="landing-block pb-5 {{ value.background }}">
  <div class="container px-3">
    <div class="row row-bordered row-border-light">
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-1.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-2.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-3.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-4.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-5.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-6.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-7.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-8.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-9.png' %}" class="img-fluid hoverable ui-img-grayscale" alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-10.png' %}" class="img-fluid hoverable ui-img-grayscale"
             alt>
      </div>
      <div class="col-4 col-md-3 col-lg-2">
        <img src="{% static 'images/uikit/logo-11.png' %}" class="img-fluid hoverable ui-img-grayscale"
             alt>
      </div>
    </div>
  </div>
</div>
