{% load static wagtailcore_tags i18n %}

<div class="landing-block pb-5 {{ value.background }}">
  <div class="overflow-hidden">
    <div class="container">

      <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <div class="flex-shrink-1 order-1 w-100 text-center text-lg-right">

          <div class="display-4 text-lighter mb-2"><i class="lnr lnr-star"></i></div>
          <h5 class="mb-2">Vim ut tation philosophia</h5>
          <div class="ui-company-text text-muted">
            Vim ut tation philosophia. Qui et modo abhorreant.
          </div>

          <div class="display-4 text-lighter mt-5 mb-2"><i class="lnr lnr-leaf"></i></div>
          <h5 class="mb-2">Qui et modo abhorreant</h5>
          <div class="ui-company-text text-muted">
            Cu soleat possit sit. Vocent iisque omnesque eos id.
          </div>

          <div class="display-4 text-lighter mt-5 mb-2"><i class="lnr lnr-bug"></i></div>
          <h5 class="mb-2">Ad vim duis aperiri intellegat</h5>
          <div class="ui-company-text text-muted">
            Pro rebum nominavi an. His et enim justo dicunt.
          </div>
        </div>

        <div class="ui-device iphone order-3 order-lg-2 flex-shrink-0 mw-100 mx-lg-5 mt-5 mt-lg-0"
             style="width: 230px;">
          <div class="device-content">
            <img src="{% static 'images/uikit/app-phone.png' %}" alt>
          </div>
          <img class="device-img" src="{% static 'images/devices/iphone.png' %}" alt>
        </div>

        <div class="flex-shrink-1 order-2 order-lg-3 w-100 text-lg-left text-center mt-5 mt-lg-0">
          <div class="display-4 text-lighter mb-2"><i class="lnr lnr-layers"></i></div>
          <h5 class="mb-2">Porta ac consectetur ac</h5>
          <div class="ui-company-text text-muted">
            Iuvaret deleniti vulputate nec ne, id vix lucilius legendos.
          </div>

          <div class="display-4 text-lighter mt-5 mb-2"><i class="lnr lnr-heart-pulse"></i></div>
          <h5 class="mb-2">Dapibus ac facilisis in</h5>
          <div class="ui-company-text text-muted">
            Lorem ipsum dolor sit amet, ius virtute suscipit te.
          </div>

          <div class="display-4 text-lighter mt-5 mb-2"><i class="lnr lnr-store"></i></div>
          <h5 class="mb-2">Cras justo odio</h5>
          <div class="ui-company-text text-muted">
            Etiam vivendo eu sea, purto ponderum mediocritatem at pro.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
