{% load static wagtailcore_tags i18n %}

<div class="landing-block {{ value.background }}">
    <div class="container px-3">

      <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
        <div class="text-lighter text-tiny font-weight-bold mb-3">FEATURES</div>
        <h1 class="display-4 font-secondary font-weight-semibold mb-4">
          Everything That You Need in One App
        </h1>
        <div class="lead text-muted mb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed interdum lorem, non hendrerit lectus. Suspendisse ultricies lobortis vulputate.
        </div>
      </div>

      <hr class="landing-separator border-light mx-auto">

      <div class="row text-center">
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-star"></span>
          </div>
          <h5>Dapibus ac facilisis in</h5>
          <div class="text-muted small">
            Lorem ipsum dolor sit amet, ius virtute suscipit te. Ius prima euismod consequat eu, cu quo alii scriptorem
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-picture"></span>
          </div>
          <h5>Cras justo odio</h5>
          <div class="text-muted small">
            Etiam vivendo eu sea, purto ponderum mediocritatem at pro. Ex tantas invenire dissentiunt mea.
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-calendar-full"></span>
          </div>
          <h5>Porta ac consectetur ac</h5>
          <div class="text-muted small">
            Iuvaret deleniti vulputate nec ne, id vix lucilius legendos deseruisse, harum honestatis cum te.
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-camera"></span>
          </div>
          <h5>Nullam lobortis</h5>
          <div class="text-muted small">
            Praesent massa quam, luctus et efficitur congue, aliquam quis quam. In tellus quam, ornare et consectetur ut, ullamcorper vitae nunc.
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-pie-chart"></span>
          </div>
          <h5>Quisque dictum magna</h5>
          <div class="text-muted small">
            Curabitur rutrum eleifend urna, sit amet iaculis metus consequat at. Pellentesque id accumsan leo.
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="display-4 text-primary mx-auto mb-4">
            <span class="lnr lnr-layers"></span>
          </div>
          <h5>Suspendisse facilisis laoreet</h5>
          <div class="text-muted small">
            Curabitur tristique in elit in fermentum. Sed pellentesque ullamcorper risus pellentesque finibus.
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <button type="button" class="landing-btn btn btn-primary btn-lg">LEARN MORE</button>
      </div>

    </div>
  </div>
