{% load static wagtailcore_tags i18n %}

<div class="landing-block {{ value.background }}">
  <div class="container px-3">

    <div class="col-md-10 col-lg-8 col-xl-7 text-center p-0 mx-auto">
      <h1 class="display-4">
        The Sporty Crew
      </h1>
      <div class="lead pb-3 mt-4 mb-5">
        Lorem ipsum dolor sit amet, ad eam consul vituperata. Cum assum inimicus an, his ne liber aeterno debitis. Te
        his iudico tollit efficiendi.
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-6 col-lg-6 p-4">
        <img src="{% static 'images/avatars/1.png' %}" class="ui-w-120 rounded-circle mb-4" alt="">
        <h5 class="font-weight-bold mb-2">Ashutosh Bandiwdekar</h5>
        <div class="text-light small mb-3">Creative director</div>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 p-4">
        <img src="{% static 'images/avatars/2.png' %}" class="ui-w-120 rounded-circle mb-4" alt="">
        <h5 class="font-weight-bold mb-2">Sezayi Arslan</h5>
        <div class="text-light small mb-3">Customer support</div>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 p-4">
        <img src="{% static 'images/avatars/3.png' %}" class="ui-w-120 rounded-circle mb-4" alt="">
        <h5 class="font-weight-bold mb-2">Tom Klaver</h5>
        <div class="text-light small mb-3">CEO &amp; Design</div>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        </div>
      </div>
      <div class="col-sm-6 col-lg-6 p-4">
        <img src="{% static 'images/avatars/4.png' %}" class="ui-w-120 rounded-circle mb-4" alt="">
        <h5 class="font-weight-bold mb-2">Federico Rodes</h5>
        <div class="text-light small mb-3">Senior engineer</div>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum maximus lectus eget auctor.
        </div>
      </div>
    </div>

  </div>
</div>
