{% load static wagtailcore_tags i18n %}

<div class="landing-block pb-5 {{ value.background }}">

  <div class="overflow-hidden">
    <div class="container">

      <div class="row align-items-center text-lg-left text-center">
        <div class="col-lg-4">

          <span class="lnr lnr-heart-pulse display-3 text-primary"></span>
          <h1 class="display-4 my-4">Ultimate Tool for Web Designers</h1>
          <div class="ui-company-text text-muted">
            Lorem ipsum dolor sit amet, ad eam consul vituperata. Cum assum
            inimicus an, his ne liber aeterno debitis. Te his iudico tollit
            efficiendi. Eu harum volumus pri, oporteat probatus disputationi
            id his. Mei in vidit mollis mediocrem, cum ad suas democritum,
            ea eos eligendi nominati volutpat.
          </div>

        </div>
        <div class="col-lg-4 my-5 my-lg-0">

          <div class="ui-device iphone mw-100 mx-auto" style="width: 230px;">
            <div class="device-content">
              <img src="{% static 'images/uikit/app-phone.png' %}" alt>
            </div>
            <img class="device-img" src="{% static 'images/devices/iphone.png' %}" alt>
          </div>

        </div>
        <div class="col-lg-4">

          <ul class="list-group ui-company-text m-0">
            <li class="list-group-item border-0">
              <i class="lnr lnr-chevron-right text-primary"></i> &nbsp; Dapibus ac facilisis in
            </li>
            <li class="list-group-item border-0">
              <i class="lnr lnr-chevron-right text-primary"></i> &nbsp; Cras justo odio
            </li>
            <li class="list-group-item border-0">
              <i class="lnr lnr-chevron-right text-primary"></i> &nbsp; Morbi leo risus
            </li>
            <li class="list-group-item border-0">
              <i class="lnr lnr-chevron-right text-primary"></i> &nbsp; Porta ac consectetur ac
            </li>
            <li class="list-group-item border-0">
              <i class="lnr lnr-chevron-right text-primary"></i> &nbsp; Vestibulum at eros
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>
