{% extends "emails/BaseEmail.html" %}

{% block complimentary_close %}
<p>Voor vragen of opmerkingen kun je vrijblijvend contact met ons opnemen via <a href="mailto:info@sportyspots.com">info@sportyspots.com</a>.</p>
<p>
  Sportze, <br />
  Team SportySpots
</p>
{% endblock complimentary_close %}

{% block app_store_banner_text %}
  Download de app om te zien wie er nog meer meedoen en voor meer informatie over de activiteit.
{% endblock app_store_banner_text %}

{% block email_footer %}
<table class="email-footer"
       align="center"
       width="570"
       cellpadding="0"
       cellspacing="0">
  <tr>
    <td class="content-cell" align="center">
      <p class="sub align-center">
        &copy; 2019 SportySpots. All rights reserved.
      </p>
      <p class="sub align-center">
        SportySpots, Amsterdam, The Netherlands
      </p>
    </td>
  </tr>
</table>
{% endblock email_footer %}
