{% extends "emails/BaseEmail.html" %}

{% block complimentary_close %}
<p>Si tienes alguna pregunta, no dudes en enviarnos un <a href="mailto:info@sportyspots.com">correo electrónico.</a></p>
<p>
  Que te diviertas, <br />
  El equipo de SportySpots
</p>
{% endblock complimentary_close %}

{% block app_store_banner_text %}
  Descarga la aplicación para ver quién más se está apuntado y para tener acceso completo a todos los detalles del juego.
{% endblock app_store_banner_text %}

{% block email_footer %}
<table class="email-footer"
       align="center"
       width="570"
       cellpadding="0"
       cellspacing="0">
  <tr>
    <td class="content-cell" align="center">
      <p class="sub align-center">
        &copy; 2019 SportySpots. Todos los derechos reservados.
      </p>
      <p class="sub align-center">
        SportySpots, Amsterdam, Holanda
      </p>
    </td>
  </tr>
</table>
{% endblock email_footer %}
