{% extends "emails/BaseEmail-nl.html" %}

{% block title %}
  SportySpots - Bevestiging deelname activiteit
{% endblock title %}

{% block preheader %}
  Je doet mee aan {{ invite_sender_name }}'s activiteit.
{% endblock preheader %}

{% block email_body %}
<h1>Sportze, {{ name }}!</h1>
<p>Je ontvangt deze e-mail omdat je je hebt aangemeld voor {{ invite_sender_name }}'s activiteit.</p>
<!-- Action -->
<table class="body-action"
       align="center"
       width="100%"
       cellpadding="0"
       cellspacing="0">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%"
             border="0"
             cellspacing="0"
             cellpadding="0">
        <tr>
          <td align="center">
            <table border="0"
                   cellspacing="0"
                   cellpadding="0">
              <tr>
                <td>
                  <a href="{{ action_url }}" class="button button--green" target="_blank">
                    Bekijk activiteit
                  </a>
                </td>
              </tr>
            </table>
            <!-- Sub copy -->
            <table class="body-sub">
              <tr>
                <td>
                  <p class="sub">
                    Als de knop hier boven niet goed werkt, kopieer en plak onderstaande link dan in je browser.
                  </p>
                  <p class="sub">{{ action_url }}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock email_body %}
