{% extends "emails/BaseEmail-nl.html" %}

{% block title %}
  SportySpots - Inloggen.
{% endblock title %}

{% block preheader %}
  Bij deze je login link!
{% endblock preheader %}

{% block email_body %}
<h1>Hoi {{ name }}!</h1>
<p>
  Klik op onderstaande knop om in te loggen in de SportySpots app!
</p>
<!-- Action -->
<table class="body-action"
       align="center"
       width="100%"
       cellpadding="0"
       cellspacing="0">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%"
             border="0"
             cellspacing="0"
             cellpadding="0">
        <tr>
          <td align="center">
            <table border="0"
                   cellspacing="0"
                   cellpadding="0">
              <tr>
                <td>
                  <a href="{{ action_url }}" class="button button--green" target="_blank">
                    Inloggen
                  </a>
                </td>
              </tr>
            </table>
            <!-- Sub copy -->
            <table class="body-sub">
              <tr>
                <td>
                  <p class="sub">
                    Als de knop hier boven niet goed werkt, kopieer en plak onderstaande link dan in je browser.
                  </p>
                  <p class="sub">{{ action_url }}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock email_body %}
