{% extends "emails/BaseEmail-es.html" %}

{% block title %}
  SportySpots - Inicio de Sesión Mágico.
{% endblock title %}

{% block preheader %}
  Aquí está tu enlace mágico de inicio de sesión
{% endblock preheader %}

{% block email_body %}
<h1>Wohooo! {{ name }},</h1>
<p>
  Aquí está tu enlace mágico de inicio de sesión. Haz clic en el botón para iniciar sesión directamente sin una contraseña.
</p>
<!-- Action -->
<table class="body-action"
       align="center"
       width="100%"
       cellpadding="0"
       cellspacing="0">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%"
             border="0"
             cellspacing="0"
             cellpadding="0">
        <tr>
          <td align="center">
            <table border="0"
                   cellspacing="0"
                   cellpadding="0">
              <tr>
                <td>
                  <a href="{{ action_url }}" class="button button--green" target="_blank">
                    Iniciar sesión
                  </a>
                </td>
              </tr>
            </table>
            <!-- Sub copy -->
            <table class="body-sub">
              <tr>
                <td>
                  <p class="sub">
                    Si tienes problemas con el botón de arriba, copia y pega el siguiente enlace en tu navegador web.
                  </p>
                  <p class="sub">{{ action_url }}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock email_body %}
