{% extends "emails/00-BaseEmail-ES.html" %}

{% block title %}
  SportySpots - Sport Activity Reminder.
{% endblock title %}

{% block preheader %}
  {{ invite_sender_name }}'s sport activity is taking place today.
{% endblock preheader %}

{% block email_body %}
<h1>Have fun! {{ name }},</h1>
<p>
  {{ invite_sender_name }}'s sport activity is taking place today.
</p>
<!-- Action -->
<table class="body-action"
       align="center"
       width="100%"
       cellpadding="0"
       cellspacing="0">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%"
             border="0"
             cellspacing="0"
             cellpadding="0">
        <tr>
          <td align="center">
            <table border="0"
                   cellspacing="0"
                   cellpadding="0">
              <tr>
                <td>
                  <a href="{{ action_url }}" class="button button--green" target="_blank">
                    View activity
                  </a>
                </td>
              </tr>
            </table>
            <!-- Sub copy -->
            <table class="body-sub">
              <tr>
                <td>
                  <p class="sub">
                    If you’re having trouble with the button above, copy and paste the URL below into your web
                    browser.
                  </p>
                  <p class="sub">{{ action_url }}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock email_body %}
